<!-- Page-->
<div class="page text-center">
   <!-- Page Header-->
   <f:render partial="header" arguments="{_all}" />
   <!-- ### ENDE ### Navigation -->
   <!-- ### START ### Slider -->
   <!-- Swiper-->

      <f:cObject typoscriptObjectPath="lib.content0"/>

   <!-- ### ENDE ### Slider -->
   <!-- ### START ### Page Content-->
   <main class="page-content">
      <!-- ### START ### Fackelmann Therme Hersbruck. Die reinste Idylle. -->
      <!-- Sailing Yachts-->
      <section id="sec" class="section-75 section-md-top-60 section-md-bottom-60">
         <div class="shell">
            <f:cObject typoscriptObjectPath="lib.content1"/>
         </div>
      </section>
      <!-- ### ENDE ### Fackelmann Therme Hersbruck. Die reinste Idylle. -->
      <!-- ### START ### 4 Themen Teaser -->
      <!-- Products-->
      <section id="sec-4-themen">
         <f:cObject typoscriptObjectPath="lib.content2"/>
      </section>
      <!-- ### ENDE ### 4 Themen Teaser -->
      <!-- ### START ### Aktuelle Events &amp; Aktionen -->
      <section id="sec-events-aktionen" class="section-75 section-md-top-95 section-md-bottom-90">
         <f:cObject typoscriptObjectPath="lib.content3"/>
      </section>
      <!-- ### ENDE ### Aktuelle Events &amp; Aktionen -->
      <!-- ### START ### Teaser Element -->

         <!-- RD Parallax-->
         <f:cObject typoscriptObjectPath="lib.content4"/>

      <!-- ### ENDE ### Teaser Element -->
      <!-- ### START ### Deine Therme -->
      <!-- Charter Excellence-->
      <section class="section-75 section-md-top-95 section-md-bottom-110">
         <div class="shell">
            <f:cObject typoscriptObjectPath="lib.content5"/>
         </div>
      </section>
      <!-- ### ENDE ### Deine Therme -->
      <!-- ### START ### Kundenmeinungen -->
      <!-- What Clients Say-->
      <section class="context-dark">
         <!-- RD Parallax-->
         <div data-on="false" data-md-on="true" class="rd-parallax">
            <f:cObject typoscriptObjectPath="lib.content6"/>
         </div>
      </section>
      <!-- ### ENDE ### Kundenmeinungen -->
   </main>
   <!-- ### ENDE ### Page Content-->
   <!-- Page Footer-->
   <f:render partial="footer" arguments="{_all}" />
</div>
<!-- Global Mailform Output-->
<div id="form-output-global" class="snackbars"></div>
<!-- PhotoSwipe Gallery-->
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
   <div class="pswp__bg"></div>
   <div class="pswp__scroll-wrap">
      <div class="pswp__container">
         <div class="pswp__item"></div>
         <div class="pswp__item"></div>
         <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
         <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
               <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                     <div class="pswp__preloader__donut"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
         </div>
         <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
         <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
         <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
         </div>
      </div>
   </div>
</div>