<!-- Page-->
<div class="page text-center">
   <!-- Page Header-->
   <f:render partial="header" arguments="{_all}" />
   <!-- ### ENDE ### Navigation -->

   <!-- ### START ### Page Content-->
   <main class="page-content">

      <section class="section-height-800 breadcrumb-modern rd-parallax context-dark">

      <div data-speed="0.2" data-type="media" data-url="<f:cObject typoscriptObjectPath='lib.backgroundImg' />" class="rd-parallax-layer"></div>
      <div data-speed="0" data-type="html" class="rd-parallax-layer">
         <div>
            <div class="shell section-top-34 section-bottom-34 section-md-top-175 section-md-bottom-75 section-lg-top-150 section-lg-bottom-150 section-md-tablet-75">
               <div class="cell-sm-12 cell-lg-10">
                  <div><h1 class="text-extra-big text-spacing-inverse-50 context-dark">&nbsp;</h1></div>
               </div>
            </div>
         </div>
      </div>
   </section>
      <!-- ### START ### Fackelmann Therme Hersbruck. Die reinste Idylle. -->
      <!-- Sailing Yachts-->
      <section id="sec" class="section-xs-40 section-sm-60 section-md-110 section-lg-110">
          <div class="shell section-aside-xl">
            <f:cObject typoscriptObjectPath="lib.content0"/>
          </div>
        </section>
      <!-- ### ENDE ### Fackelmann Therme Hersbruck. Die reinste Idylle. -->
      <!-- ### START ### 4 Themen Teaser -->
      <!-- Products-->
      <section id="sec" class="section-xs-bottom-40 section-sm-bottom-60 section-md-bottom-110 section-lg-bottom-110">
          <div class="shell">
            <div class="range range-xs-center">
            <div class="cell-sm-10">
            <f:cObject typoscriptObjectPath="lib.content1"/>
          </div>
          </div>
          </div>
        </section>

        <section id="sec" class="section-xs-bottom-40 section-sm-bottom-60 section-md-bottom-110 section-lg-bottom-110">
          <div class="shell section-aside-xl">

<!-- Text mit Bild links -->

            <!-- image left-->
            <div class="range range-xs-center">
              <div class="cell-md-10">
                <f:cObject typoscriptObjectPath="lib.content2"/>
              </div>
            </div>
          </div>

        </section>

<!-- Typography-->

        <section id="sec" class="section-xs-bottom-40 section-sm-bottom-60 section-md-bottom-110 section-lg-bottom-110">
          <div class="shell section-aside-xl">
            <div class="range range-xs-center">
              <div class="cell-sm-10 cell-lg-8">
               <f:cObject typoscriptObjectPath="lib.content3"/>
              </div>
            </div>
          </div>
        </section>
        <!-- &Ouml;ffnungszeiten Freibad -->
        <section id="sec" class="section-xs-bottom-40 section-sm-bottom-60 section-md-bottom-110 section-lg-bottom-110">
          <div class="shell">
            <div class="range range-xs-center">

            <f:cObject typoscriptObjectPath="lib.content4"/>

            </div>
          </div>
        </section>
        <!-- &Ouml;ffnungszeiten PhysioWellness Hentes -->
        <section id="sec" class="section-xs-bottom-40 section-sm-bottom-60 section-md-bottom-110 section-lg-bottom-110">
          <div class="shell">
            <div>

              <div class="range range-xs-center">
                <div class="cell-sm-10">
                  <f:cObject typoscriptObjectPath="lib.content5"/>
                </div>
              </div>
            </div>
          </div>
        </section>
<!-- ### START ### Teaser Element -->
      <f:cObject typoscriptObjectPath="lib.content6"/>

   </main>
   <!-- ### ENDE ### Page Content-->
   <!-- Page Footer-->
   <f:render partial="footer" arguments="{_all}" />
</div>
<!-- Global Mailform Output-->
<div id="form-output-global" class="snackbars"></div>
<!-- PhotoSwipe Gallery-->
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
   <div class="pswp__bg"></div>
   <div class="pswp__scroll-wrap">
      <div class="pswp__container">
         <div class="pswp__item"></div>
         <div class="pswp__item"></div>
         <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
         <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
               <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                     <div class="pswp__preloader__donut"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
         </div>
         <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
         <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
         <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
         </div>
      </div>
   </div>
</div>