<div class="page text-center">
   <!-- Page Header-->
   <f:render partial="header" arguments="{_all}" />

   <!-- ### START ### Page Content-->
   <main class="page-content">
      <f:if condition="{f:cObject(typoscriptObjectPath:'lib.backgroundImg')}">
      <section class="section-height-800 breadcrumb-modern rd-parallax context-dark">

         <div data-speed="0.2" data-type="media" data-url="<f:cObject typoscriptObjectPath='lib.backgroundImg' />" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" class="rd-parallax-layer">
               <div>
                  <div class="shell section-top-34 section-bottom-34 section-md-top-175 section-md-bottom-75 section-lg-top-150 section-lg-bottom-150 section-md-tablet-75">
                     <div class="cell-sm-12 cell-lg-10">
                     <div><h1 class="text-extra-big text-spacing-inverse-50 context-dark">&nbsp;</h1></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </f:if>
    <f:cObject typoscriptObjectPath="lib.content0" />

      <!-- ### START ### Teaser Element -->
      <f:cObject typoscriptObjectPath="lib.content1" />
      <!-- ### ENDE ### Teaser Element -->

   </main>
   <!-- ### ENDE ### Page Content-->


   <!-- Page Footer-->
   <f:render partial="footer" arguments="{_all}" />
</div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>