<label for="productName">
	<f:translate key="tx_windgbosappointments_domain_model_product.product_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="productName" /><br />
<label for="productId">
	<f:translate key="tx_windgbosappointments_domain_model_product.product_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="productId" /><br />
<label for="productCode">
	<f:translate key="tx_windgbosappointments_domain_model_product.product_code" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="productCode" /><br />
<label for="highlight">
	<f:translate key="tx_windgbosappointments_domain_model_product.highlight" />
</label><br />
	<f:form.checkbox property="highlight" value="1" /><br />