<table class="tx-wind-gbos-appointments" >
	<tr>
		<td>
			<f:translate key="tx_windgbosappointments_domain_model_product.product_name" />
		</td>
		<td>
			{product.productName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_windgbosappointments_domain_model_product.product_id" />
		</td>
		<td>
			{product.productId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_windgbosappointments_domain_model_product.product_code" />
		</td>
		<td>
			{product.productCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_windgbosappointments_domain_model_product.highlight" />
		</td>
		<td>
			{product.highlight}
		</td>
	</tr>
</table>