<header class="page-header slider-menu-position">
<!-- RD Navbar-->
<div class="rd-navbar-wrap">
  <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="50px" data-lg-stick-up-offset="1px" class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static">
    <div class="rd-navbar-inner">
      <!-- RD Navbar Panel-->
      <div class="rd-navbar-panel">
        <!-- RD Navbar Toggle-->
        <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
        <!-- RD Navbar Brand-->
        <div class="rd-navbar-brand veil reveal-md-block">
            <f:cObject typoscriptObjectPath="lib.logo" />
        </div>
        <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block">
            <f:cObject typoscriptObjectPath="lib.logo_small" />
        </div>
        <!-- RD Navbar Toggle-->
        <button data-rd-navbar-toggle=".rd-navbar-collapse-wrap" class="rd-navbar-collapse"><span></span></button>
      </div>
      <div class="rd-navbar-right-side">
        <div class="rd-navbar-nav-wrap reveal-md-inline-block">
            <f:cObject typoscriptObjectPath="lib.mainMenu" />
        </div>
        <div class="rd-navbar-collapse-wrap reveal-md-inline-block">
            <f:cObject typoscriptObjectPath="lib.social_menu" />
        </div>
      </div>
    </div>
  </nav>
</div>
</header>