#content div.tx-windsuggest-pi1 ul li {
	border: 1px solid #CFCFCF;
	margin: 0 10px 1.5em 0;
	padding: 0 0 5px 10px;
	width: 300px;
	background: none;
}

#content div.tx-windsuggest-pi1 ul li h2 {
    font-size: 12px;
    margin: 5px 0;
    width: 100%;
}

#content div.tx-windsuggest-pi1 ul li div {
    padding: 3px 0;
}

#content div.tx-windsuggest-pi1 ul li div.name {
	color: #666666;
    font-weight: bold;
}

#content div.tx-windsuggest-pi1 ul li div.url a {
	text-decoration: underline;
}