<f:layout name="OrionisNieuwsbrief" />
<f:section name="content">
	<f:cObject typoscriptObjectPath="lib.content.sidebar" />
	<table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
		<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
		<!-- Content -->
			<td class="wrapper" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 10px 20px 0px 0px;" align="left" valign="top">
				<table class="eight columns content" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 500px; margin: 0 auto; padding: 0;">
					<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
						<td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
						</td>
					</tr>
					<f:cObject typoscriptObjectPath="lib.content.main" />
				</table>
			</td>

			<td class="wrapper last sidebar" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 20px; font-size: 13px; background: #C3DFEB; margin: 0; padding: 0 10px;" align="left" bgcolor="#C3DFEB" valign="top">
				<table class="four columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 240px; margin: 0 auto; padding: 0;">
					<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
						<td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
						</td>
					</tr>
					<f:cObject typoscriptObjectPath="lib.content.left" />
				</table>
			</td>
		</tr>
	</table>
</f:section>