<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<v:page.header overwrite="true">
	<title>{selectedcategory.name} | Betriebssuche - kfz-opf.de</title>
	<meta name="description" content="{selectedcategory.description}">
</v:page.header>

	<div class="dir-user">

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-1">
						<f:image image="{selectedcategory.image}" width="64px" alt="{selectedcategory.name}" class="img-responsive" />
					</div>
					<div class="col-md-8">
						<h2>{selectedcategory.name}</h2>
						<span class="label label-primary">
							<f:count subject="{companies}" /> <f:translate key="tx_companydir_company.gefunden" />
						</span>
					</div>
					<div class="col-md-3">
						<button onclick="history.back(-1)" class="btn btn-primary"><i class="fa fa-chevron-left"></i> zurück</button>
					</div>
				</div>
			</div>
		</div>


		<f:if condition="{settings.hidePagination}">
			<f:then>
				<div class="row">
					<f:for each="{companies}" as="company">
						<f:render partial="Company/Item" section="CompanyItem" arguments="{_all}" />
					</f:for>
				</div>
			</f:then>
			<f:else>
				<f:widget.paginate objects="{companies}" as="paginatedcompanies" configuration="{itemsPerPage: '{settings.itemsPerPage}', insertAbove: 1, insertBelow: 1}">
					<div class="row">
						<f:for each="{paginatedcompanies}" as="company">
							<f:render partial="Company/Item" section="CompanyItem" arguments="{_all}" />
						</f:for>
					</div>
				</f:widget.paginate>
			</f:else>
		</f:if>
		<f:render partial="Category/Opengraph" arguments="{category: selectedcategory}" />
	</div>
</html>

