{namespace vh=WIND\WebsiteVlissingen\ViewHelpers}
<f:layout name="Default" />
<f:section name="Main">
	<table class="eight columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 500px; margin: 0 auto; padding: 0;">
		<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
			<td class="row" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
				<table class="title" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; padding: 0;">
					<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
						<td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0 20px;" align="left" valign="top">
							<img width="26" height="30" src="typo3conf/ext/website_vlissingen/Resources/Public/Images/icon_title.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" align="left" alt="Icoon Nieuws" />
							<h2 style="color: #323232; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 30px; word-break: normal; font-size: 20px; display: inline; margin: 0; padding: 0;" align="left">{data.header}</h2>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</f:section>