/* Transparenter Overlay speziell für Saunapark */

.post-inspiration .post-inspiration-img-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(77, 96, 166, 0.0);
}
