<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div class="article cell-sm-10 cell-md-7 cell-lg-6 offset-top-60 articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
<div class="reveal-inline-block">
<div class="unit unit-sm unit-sm-horizontal unit-spacing-sm text-left">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<div class="unit-left">
	<f:if condition="{newsItem.mediaPreviews}">
		<!-- media preview element -->
		<f:then>
			<div class="news-img-wrap">

					<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
						<f:if condition="{mediaElement.originalResource.type} == 2">
							<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 4">
							<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 5">
							<f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
						</f:if>
					</f:alias>

			</div>
		</f:then>
		<f:else>
			<f:if condition="{settings.displayDummyIfNoMedia}">
				<div class="news-img-wrap">
					<span class="no-media-element">

							<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>

					</span>
				</div>
			</f:if>
		</f:else>
	</f:if>
</div>
	<!-- header -->
	<div class="unit-body">

	<h5 class="p text-capitalize text-spacing-inverse-25">
		<font style="vertical-align: inherit;">
			<font style="vertical-align: inherit;">
				{newsItem.title}
			</font>
		</font>
	</h5>
	<div style="line-height:24px;" class="offset-top-10">
      <dl class="text-spacing-0">
        <dt>
        	<font style="vertical-align: inherit;">
        		<font style="vertical-align: inherit;">
        			<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
					<f:comment><f:format.date format="l, d.m.Y, H.i">{newsItem.datetime}</f:format.date></f:comment>
					<f:format.date format="%A, %d.%m.%Y">{newsItem.datetime}</f:format.date>
					</time>
        		</font>
        	</font>
        </dt>
        <dd>
        	<font style="vertical-align: inherit;">
        		<n:removeMediaTags>
				<f:if condition="{newsItem.teaser}">
					<f:then>
						<div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
					</f:then>
					<f:else>
						<div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
					</f:else>
				</f:if>
		</n:removeMediaTags>
        	</font>
        </dd>
      </dl>
    </div>
	<!-- teaser -->
	<div class="teaser-text">
		<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
			<f:translate key="LLL:EXT:site_config/Resources/Private/Language/locallang.xlf:more-link" />
		</n:link>
	</div>
	</div>
</div>
</div>
</div>

</html>
