<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-wilzing-projects" >
	<tr>
		<td>
			<f:translate key="tx_wilzingprojects_domain_model_projects.projecttitle" />
		</td>
		<td>
		{projects.projecttitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wilzingprojects_domain_model_projects.projectimages" />
		</td>
		<td>
				<f:image src="{projects.projectimages.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>
</html>