<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>News template</title>
</head>
<body>

<div class="box">

</div>


<!-- ###TEMPLATE_ARCHIVE### begin -->
<div class="news-amenu-container">
	<h2>Archief</h2>
	<ul>
	<!-- ###CONTENT### begin -->
		<!-- ###MENUITEM### begin -->
		<li><!--###LINK_ITEM###-->###ARCHIVE_TITLE###: ###ARCHIVE_COUNT### ###ARCHIVE_ITEMS###<!--###LINK_ITEM###--></li>
		<!-- ###MENUITEM### end-->
	<!-- ###CONTENT###  end -->
	</ul>
</div>
<!-- ###TEMPLATE_ARCHIVE### end -->

</body>
</html>
