<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title></title>
</head>
<body>

<!-- ###TITLE### begin -->
	<title>###WEBSITENAME###: ###PRODUCTNAME###</title>
<!-- ###TITLE### end -->

<!-- ###ROOTLINE### begin -->
<!-- ###ROOTLINE### end -->

<!-- ###OVERVIEW### begin -->
<!--htdig_noindex-->
<div class="tx_windproductcatalog_overview">
    <h2 class="title">Digitaal Loket</h2>
    <h3 class="subtitle">Zoeken op alfabet</h3>

    <!-- ###OVERVIEW_ALPHABET### begin -->
        <div class="alphabet">
            <ul>
        <!-- ###OVERVIEW_ALPHABET_LINK### begin -->
             <li><a href="###URL###">###TEXT###</a></li>
        <!-- ###OVERVIEW_ALPHABET_LINK### end -->
            </ul>
        </div>
    <!-- ###OVERVIEW_ALPHABET### end -->
        <div class="categories">
    <!-- ###OVERVIEW_CATEGORY_COL### begin -->
            <div class="category_col###NUM###">
        <!-- ###OVERVIEW_CATEGORY### begin -->
                <div class="category">
                    <div class="category_image">
                        <!-- ###OVERVIEW_CATEGORY_IMAGE### begin -->
                            ###IMAGE###
                        <!-- ###OVERVIEW_CATEGORY_IMAGE### end -->
                    </div>
                    <h2 class="category_title"><a href="###CATEGORY_URL###">###CATEGORY_TITLE###</a></h1>
            <!-- ###OVERVIEW_CATEGORY_LIST### begin -->
                    <ul>
                <!-- ###OVERVIEW_CATEGORY_LINK### begin -->
                     <li><a href="###URL###">###TEXT###</a></li>
                <!-- ###OVERVIEW_CATEGORY_LINK### end -->
                <!-- ###OVERVIEW_CATEGORY_MORE### begin -->
                     <li class="more"><a href="###URL###">###TEXT###</a></li>
                <!-- ###OVERVIEW_CATEGORY_MORE### end -->
                <!-- ###OVERVIEW_CATEGORY_NONE### begin -->
                     <li class="none">Geen subrubrieken</li>
                <!-- ###OVERVIEW_CATEGORY_NONE### end -->
                    </ul>
            <!-- ###OVERVIEW_CATEGORY_LIST### end -->
                </div>
        <!-- ###OVERVIEW_CATEGORY### end -->
            </div>
    <!-- ###OVERVIEW_CATEGORY_COL### end -->
        </div>
</div>
<!--/htdig_noindex-->
<!-- ###OVERVIEW### end -->

<!-- ###SEARCH### begin -->
<div class="tx_windproductcatalog_search">
    <!-- ###SEARCH_SEARCH### begin -->
    <div class="search">
        <form action="###SEARCH_FORM_URL###" method="post">
        <input type="hidden" name="tx_windproductcatalog_pi1[search]" value="1" />
        <label for="tx_windproductcatalog_search">###SEARCH_LABEL###</label>
        <input type="text" id="tx_windproductcatalog_search" class="text" name="tx_windproductcatalog_pi1[search_words]" value="###SEARCH_WORDS###" onfocus="if (this.value == '###SEARCH_WORDS_DEFAULT###') this.value = '';" onblur="if (this.value == '' &amp;&amp; this.defaultValue == '###SEARCH_WORDS_DEFAULT###') this.value = '###SEARCH_WORDS_DEFAULT###'" />
        <input type="submit" value="###SEARCH_BUTTON###" />
        </form>
    </div>
    <!-- ###SEARCH_SEARCH### end -->
    <!-- ###SEARCH_ALPHABET### begin -->
    <h2 class="title">Digitaal Loket</h2>
    <h3 class="subtitle">Zoeken op alfabet</h3>
    <div class="alphabet">
        <ul>
        <!-- ###SEARCH_ALPHABET_LINK### begin -->
         <li<!-- ###SEARCH_ALPHABET_LINK_CURRENT### begin --> class="current"<!-- ###SEARCH_ALPHABET_LINK_CURRENT### end -->><a href="###URL###">###TEXT###</a></li>
        <!-- ###SEARCH_ALPHABET_LINK### end -->
        </ul>
    </div>
    <!-- ###SEARCH_ALPHABET### end -->
    <div class="alphabetsearch">
        <h2>###SEARCH_TITLE###</h2>
        <div class="results">
    <!-- ###SEARCH_PRODUCTS### begin -->
            <ul>
        <!-- ###SEARCH_PRODUCTS_LINK### begin -->
             <li><a href="###URL###">###TEXT###</a></li>
        <!-- ###SEARCH_PRODUCTS_LINK### end -->
            </ul>
    <!-- ###SEARCH_PRODUCTS### end -->
        </div>
    </div>
</div>
<!-- ###SEARCH### end -->

<!-- ###PRODUCT### begin -->
<div class="tx_windproductcatalog_product">
    <div class="column2">
    <!-- ###PRODUCT_SEARCH### begin -->
        <div class="search">
            <form action="###SEARCH_FORM_URL###" method="post">
            <input type="hidden" name="tx_windproductcatalog_pi1[search]" value="1" />
            <label for="tx_windproductcatalog_search">###SEARCH_LABEL###</label>
            <input type="text" id="tx_windproductcatalog_search" class="text" name="tx_windproductcatalog_pi1[search_words]" value="###SEARCH_WORDS###" onfocus="if (this.value == '###SEARCH_WORDS_DEFAULT###') this.value = '';" onblur="if (this.value == '' &amp;&amp; this.defaultValue == '###SEARCH_WORDS_DEFAULT###') this.value = '###SEARCH_WORDS_DEFAULT###'" />
            <input type="submit" value="###SEARCH_BUTTON###" />
            </form>
        </div>
    <!-- ###PRODUCT_SEARCH### end -->
    <!-- ###PRODUCT_ALPHABET### begin -->
        <div class="alphabet">
            <ul>
        <!-- ###PRODUCT_ALPHABET_LINK### begin -->
             <li><a href="###URL###">###TEXT###</a></li>
        <!-- ###PRODUCT_ALPHABET_LINK### end -->
            </ul>
        </div>
    <!-- ###PRODUCT_ALPHABET### end -->
        <div class="product">
            <h2 class="title">###PRODUCT_TITLE###</h2>
            <!-- ###PRODUCT_SECTIONS### begin -->
                <div class="sections">
                    <ul>
                        <li class="first <!-- ###PRODUCT_SECTIONS_CURRENT### begin -->current<!-- ###PRODUCT_SECTIONS_CURRENT### end -->"><a href="###PRODUCT_URL###">Beschrijving</a></li>
                        <!-- ###PRODUCT_SECTIONS_LINK### begin -->
                        <li<!-- ###PRODUCT_SECTIONS_LINK_CURRENT### begin --> class="current"<!-- ###PRODUCT_SECTIONS_LINK_CURRENT### end -->><a href="###URL###">###TEXT###</a></li>
                        <!-- ###PRODUCT_SECTIONS_LINK### end -->
                    </ul>
                </div>
            <!-- ###PRODUCT_SECTIONS### end -->
            <div class="product_inner">
                ###PRODUCT_DESCRIPTION###
            </div>
        </div>
    </div>
    <div class="column1">

    <!-- ###PRODUCT_FORMS### begin -->
        <div class="forms">
            <h2 class="form_title">###FORMS_TITLE###</h2>
            <ul>
        <!-- ###PRODUCT_FORMS_LINK### begin -->
             <li><a href="###URL###">###TEXT###</a></li>
        <!-- ###PRODUCT_FORMS_LINK### end -->
            </ul>
        </div>
    <!-- ###PRODUCT_FORMS### end -->
    <!-- ###PRODUCT_CATEGORIES### begin -->
        <div class="categories">
            <h2 class="category_title">###CATEGORIES_TITLE###</h2>
            <ul>
        <!-- ###PRODUCT_CATEGORIES_LINK### begin -->
             <li><a href="###URL###">###TEXT###</a></li>
        <!-- ###PRODUCT_CATEGORIES_LINK### end -->
            </ul>
        </div>
    <!-- ###PRODUCT_CATEGORIES### end -->
    </div>
</div>
<div class="productcatalog_bottomoptions">
    <a href="###OVERVIEW_URL###">Terug naar overzicht</a>
</div>
<!-- ###PRODUCT### end -->

<!-- ###PRODUCT_RATES### begin -->
<div class="tx_windproductcatalog_product_rates">
    <!-- ###PRODUCT_RATES_SINGLE### begin -->
    <div class="rate_single">
        <label>###NAME###</label>
        <span class="value">###RATE###</span>
    </div>
    <!-- ###PRODUCT_RATES_SINGLE### end -->
</div>
<!-- ###PRODUCT_RATES### end -->

<!-- ###PRODUCT_FAQ### begin -->
<div class="tx_windproductcatalog_product_faq">
    <!-- ###PRODUCT_FAQ_SINGLE### begin -->
    <div class="faq_single">
        <div class="question">###QUESTION###</div>
        <div class="answer">###ANSWER###</div>
    </div>
    <!-- ###PRODUCT_FAQ_SINGLE### end -->
</div>
<!-- ###PRODUCT_FAQ### end -->
</body>
</html>
