<!DOCTYPE html
	 PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title></title>
</head>
<body>

<!-- ###TITLE### begin -->
	<title>###WEBSITENAME###: ###PRODUCTNAME###</title>
<!-- ###TITLE### end -->

<!-- ###ROOTLINE### begin -->
<!-- ###ROOTLINE### end -->

<!-- ###POPULAR### begin -->
<div class="tx_windproductcatalog_popular">
	<div class="popular">
		<div class="header">
			<a title="Naar het digitaal loket" class="title" href="###OVERVIEW_URL###">###POPULAR_TITLE###</a>
		</div>
		<!-- ###POPULAR_SEARCH### begin -->
		<!-- ###POPULAR_SEARCH### end -->
		<ol>
	<!-- ###POPULAR_LINK### begin -->
		 <li class="clickable"><a href="###URL###">###TEXT###</a></li>
	<!-- ###POPULAR_LINK### end -->
		</ol>
		<div class="toOverview">
			<a href="###OVERVIEW_URL###" title="Alle producten weergeven">Alle producten</a>
		</div>
	</div>
</div>
<!-- ###POPULAR### end -->

<!-- ###OVERVIEW### begin -->
<div class="tx_windproductcatalog_overview">
	<!-- ###OVERVIEW_SEARCH### begin -->
	<div class="search">
		<form action="###SEARCH_FORM_URL###" method="post">
			<input type="hidden" name="tx_windproductcatalog_pi1[search]" value="1" />
			<div class="pair">
				<label for="tx_windproductcatalog_search">###SEARCH_LABEL###</label>
				<input type="text" id="tx_windproductcatalog_search" class="text" name="tx_windproductcatalog_pi1[search_words]" value="###SEARCH_WORDS###" onfocus="if (this.value == '###SEARCH_WORDS_DEFAULT###') this.value = '';" onblur="if (this.value == '' &amp;&amp; this.defaultValue == '###SEARCH_WORDS_DEFAULT###') this.value = '###SEARCH_WORDS_DEFAULT###'" />
			</div>
			<div class="buttons">
				<input type="submit" value="###SEARCH_BUTTON###" />
			</div>
		</form>
	</div>
	<!-- ###OVERVIEW_SEARCH### end -->
	<!-- ###OVERVIEW_ALPHABET### begin -->
	<div class="alphabet">
		<div class="pair">
			<div class="box">
				<ul class="alphabet">
		<!-- ###OVERVIEW_ALPHABET_LINK### begin -->
				 <li><a href="###URL###">###TEXT###</a></li>
		<!-- ###OVERVIEW_ALPHABET_LINK### end -->
				</ul>
			</div>
		</div>
	</div>
	<!-- ###OVERVIEW_ALPHABET### end -->
	<ul class="section-holder">
		<li class="section">
	<!-- ###OVERVIEW_CATEGORY_COL### begin -->
		<!-- ###OVERVIEW_CATEGORY### begin -->
			<div class="column">
				<h2>###CATEGORY_TITLE###</h2>
			<!-- ###OVERVIEW_CATEGORY_LIST### begin -->
				<ul>
				<!-- ###OVERVIEW_CATEGORY_LINK### begin -->
				 <li><a href="###URL###">###TEXT###</a></li>
				<!-- ###OVERVIEW_CATEGORY_LINK### end -->
				<!-- ###OVERVIEW_CATEGORY_MORE### begin -->
				 <li class="link"><a href="###URL###">###TEXT###</a></li>
				<!-- ###OVERVIEW_CATEGORY_MORE### end -->
				<!-- ###OVERVIEW_CATEGORY_NONE### begin -->
				 <li class="none">Geen rubrieken gevonden</li>
				<!-- ###OVERVIEW_CATEGORY_NONE### end -->
				</ul>
			<!-- ###OVERVIEW_CATEGORY_LIST### end -->
			</div>
		<!-- ###OVERVIEW_CATEGORY### end -->
	<!-- ###OVERVIEW_CATEGORY_COL### end -->
		</li>
	</ul>
</div>
<!-- ###OVERVIEW### end -->

<!-- ###CATEGORY### begin -->
<div class="tx_windproductcatalog_category">
	<!-- ###CATEGORY_SEARCH### begin -->
	<div class="search">
		<form action="###SEARCH_FORM_URL###" method="post">
		<input type="hidden" name="tx_windproductcatalog_pi1[search]" value="1" />
		<label for="tx_windproductcatalog_search">###SEARCH_LABEL###</label>
		<input type="text" id="tx_windproductcatalog_search" class="text" name="tx_windproductcatalog_pi1[search_words]" value="###SEARCH_WORDS###" onfocus="if (this.value == '###SEARCH_WORDS_DEFAULT###') this.value = '';" onblur="if (this.value == '' &amp;&amp; this.defaultValue == '###SEARCH_WORDS_DEFAULT###') this.value = '###SEARCH_WORDS_DEFAULT###'" />
		<input type="submit" value="###SEARCH_BUTTON###" />
		</form>
	</div>
	<!-- ###CATEGORY_SEARCH### end -->
	<!-- ###CATEGORY_ALPHABET### begin -->
	<div class="alphabet">
		<div class="pair">
			<div class="box">
				<ul class="alphabet">
		<!-- ###CATEGORY_ALPHABET_LINK### begin -->
				 <li><a href="###URL###">###TEXT###</a></li>
		<!-- ###CATEGORY_ALPHABET_LINK### end -->
				</ul>
			</div>
		</div>
	</div>
	<!-- ###CATEGORY_ALPHABET### end -->
	<div class="categories">
		<ul>
		 <li class="category">
			<h2>###CATEGORY_TITLE###</h2>
	<!-- ###CATEGORY_PRODUCTS### begin -->
			<ul>
		<!-- ###CATEGORY_PRODUCTS_LINK### begin -->
			 <li><a href="###URL###">###TEXT###</a></li>
		<!-- ###CATEGORY_PRODUCTS_LINK### end -->
			</ul>
	<!-- ###CATEGORY_PRODUCTS### end -->
		 </li>
		</ul>
	</div>
</div>
<!-- ###CATEGORY### end -->

<!-- ###SEARCH### begin -->
<div class="tx_windproductcatalog_search">
	<!-- ###SEARCH_SEARCH### begin -->
	<div class="search">
		<form action="###SEARCH_FORM_URL###" method="post">
		<input type="hidden" name="tx_windproductcatalog_pi1[search]" value="1" />
		<label for="tx_windproductcatalog_search">###SEARCH_LABEL###</label>
		<input type="text" id="tx_windproductcatalog_search" class="text" name="tx_windproductcatalog_pi1[search_words]" value="###SEARCH_WORDS###" onfocus="if (this.value == '###SEARCH_WORDS_DEFAULT###') this.value = '';" onblur="if (this.value == '' &amp;&amp; this.defaultValue == '###SEARCH_WORDS_DEFAULT###') this.value = '###SEARCH_WORDS_DEFAULT###'" />
		<input type="submit" value="###SEARCH_BUTTON###" />
		</form>
	</div>
	<!-- ###SEARCH_SEARCH### end -->
	<!-- ###SEARCH_ALPHABET### begin -->
	<div class="alphabet">
		<div class="pair">
			<div class="box">
				<ul class="alphabet">
		<!-- ###SEARCH_ALPHABET_LINK### begin -->
					<li<!-- ###SEARCH_ALPHABET_LINK_CURRENT### begin --> class="current"<!-- ###SEARCH_ALPHABET_LINK_CURRENT### end -->><a href="###URL###">###TEXT###</a></li>
		<!-- ###SEARCH_ALPHABET_LINK### end -->
				</ul>
			</div>
		</div>
	</div>
	<!-- ###SEARCH_ALPHABET### end -->
	<div class="container">
		<div class="products">
			<!-- ###SEARCH_PRODUCTS### begin -->
				<h2 class="letter"><span>###SEARCH_LETTER###</span></h2>
				<ul>
				<!-- ###SEARCH_PRODUCTS_LINK### begin -->
				 <li><a href="###URL###">###TEXT###</a></li>
				<!-- ###SEARCH_PRODUCTS_LINK### end -->
				</ul>
			<!-- ###SEARCH_PRODUCTS### end -->
		</div>
	</div>

</div>
<!-- ###SEARCH### end -->

<!-- ###PRODUCT### begin -->
<h1 class="producttitle"><span>###PRODUCT_TITLE###</span></h1>
<div class="tx_windproductcatalog_product">
	<div class="tabs">
		<ul class="tabset">
	<!-- ###PRODUCT_SECTIONS### begin -->
			<li class="first <!-- ###PRODUCT_SECTIONS_CURRENT### begin -->active<!-- ###PRODUCT_SECTIONS_CURRENT### end -->"><h2><a href="###PRODUCT_URL###">Beschrijving</a></h2></li>
		<!-- ###PRODUCT_SECTIONS_LINK### begin -->
			<li<!-- ###PRODUCT_SECTIONS_LINK_CURRENT### begin --> class="active"<!-- ###PRODUCT_SECTIONS_LINK_CURRENT### end -->><h2><a href="###URL###">###TEXT###</a></h2></li>
		<!-- ###PRODUCT_SECTIONS_LINK### end -->
	<!-- ###PRODUCT_SECTIONS### end -->
		</ul>
	<!-- ###PRODUCT_FORMS### begin -->
		<!-- ###PRODUCT_FORMS_LINK### begin -->
			<a href="###URL###" class="inquiry" title="Deze link opent in dit venster">###TEXT###</a>
		<!-- ###PRODUCT_FORMS_LINK### end -->
	<!-- ###PRODUCT_FORMS### end -->

	</div>
	<div class="product">
		<div class="product_inner">
			###PRODUCT_DESCRIPTION###
		</div>
		<!-- ###PRODUCT_RELATED### begin -->
		<div class="related">
			<h3>###RELATED_TITLE###</h3>
			<div>
				<ul id="tx_windproductcatalog_related">
					<!-- ###PRODUCT_RELATED_LINK### begin -->
						<li><a href="###URL###">###TEXT###</a></li>
					<!-- ###PRODUCT_RELATED_LINK### end -->
				</ul>
			</div>
		</div>
		<!-- ###PRODUCT_RELATED### end -->
	</div>
	<!-- ###PRODUCT_SEARCH### begin -->
	<div class="search">
		<form action="###SEARCH_FORM_URL###" method="post">
		<input type="hidden" name="tx_windproductcatalog_pi1[search]" value="1" />
		<label for="tx_windproductcatalog_search">###SEARCH_LABEL###</label>
		<input type="text" id="tx_windproductcatalog_search" class="text" name="tx_windproductcatalog_pi1[search_words]" value="###SEARCH_WORDS###" onfocus="if (this.value == '###SEARCH_WORDS_DEFAULT###') this.value = '';" onblur="if (this.value == '' &amp;&amp; this.defaultValue == '###SEARCH_WORDS_DEFAULT###') this.value = '###SEARCH_WORDS_DEFAULT###'" />
		<input type="submit" value="###SEARCH_BUTTON###" />
		</form>
	</div>
	<!-- ###PRODUCT_SEARCH### end -->
	<!-- ###PRODUCT_ALPHABET### begin -->
	<div class="alphabet">
		<div class="pair">
			<label for="tx_windproductcatalog_alphabet">Zoeken op alfabet</label>
			<div>
				<ul id="tx_windproductcatalog_alphabet">
		<!-- ###PRODUCT_ALPHABET_LINK### begin -->
				 <li><a href="###URL###">###TEXT###</a></li>
		<!-- ###PRODUCT_ALPHABET_LINK### end -->
				</ul>
			</div>
		</div>
	</div>
	<!-- ###PRODUCT_ALPHABET### end -->
</div>
<!-- ###PRODUCT### end -->

<!-- ###PRODUCT_RATES### begin -->
<div class="tx_windproductcatalog_product_rates">
	<!-- ###PRODUCT_RATES_SINGLE### begin -->
	<div class="rate_single">
		<label>###NAME###</label>
		<span class="value">###RATE###</span>
	</div>
	<!-- ###PRODUCT_RATES_SINGLE### end -->
</div>
<!-- ###PRODUCT_RATES### end -->

<!-- ###PRODUCT_FAQ### begin -->
<div class="tx_windproductcatalog_product_faq">
	<!-- ###PRODUCT_FAQ_SINGLE### begin -->
	<div class="faq_single">
		<div class="question">###QUESTION###</div>
		<div class="answer-faq">###ANSWER###</div>
	</div>
	<!-- ###PRODUCT_FAQ_SINGLE### end -->
</div>
<!-- ###PRODUCT_FAQ### end -->

<!-- ###VERORDENING_FORM### begin -->
<form action="###FORM_URL###" method="post">
###FORM_CONTENT###
</form>
<!-- ###VERORDENING_FORM### end -->

<!-- ###VERORDENING_FORM_DONE### begin -->
<p>Het formulier is verstuurd. <a href="###BACK_URL###">Klik hier om verder te gaan.</p>
<!-- ###VERORDENING_FORM_DONE### end -->

<!-- ###PAYMENT_FORM### begin -->
<form method="post" action="https://secure.ogone.com/ncol/prod/orderstandard.asp">
<input type="hidden" name="pspid" value="###PSPID###" />
<input type="hidden" name="orderID" value="###ORDERID###" />
<input type="hidden" name="amount" value="###AMOUNT###" />
<input type="hidden" name="currency" value="EUR" />
<input type="hidden" name="language" value="nl_NL" />

<input type="hidden" name="TP" value="https://###DOMAIN###/ogone/get_template.php?url=https%3A%2F%2F###DOMAIN###%2Findex.php%3Fid%3D###TEMPLATE_UID###" />

<input type="hidden" name="accepturl" value="https://###DOMAIN###/index.php?id=###PAGEUID###&amp;no_cache=1&amp;tx_windproductcatalog_pi1[product]=###PRODUCTUID###&amp;tx_windproductcatalog_pi1[form]=###FORMUID###&amp;tx_windproductcatalog_pi1[form_done]=1" />
<input type="hidden" name="declineurl" value="https://###DOMAIN###/index.php?id=###PAGEUID###&amp;no_cache=1&amp;tx_windproductcatalog_pi1[product]=###PRODUCTUID###&amp;tx_windproductcatalog_pi1[form]=###FORMUID###&amp;tx_windproductcatalog_pi1[form_decline]=1" />
<input type="hidden" name="exceptionurl" value="https://###DOMAIN###/index.php?id=###PAGEUID###&amp;no_cache=1&amp;tx_windproductcatalog_pi1[product]=###PRODUCTUID###&amp;tx_windproductcatalog_pi1[form]=###FORMUID###&amp;tx_windproductcatalog_pi1[form_exception]=1" />
<input type="hidden" name="cancelurl" value="https://###DOMAIN###/index.php?id=###PAGEUID###&amp;no_cache=1&amp;tx_windproductcatalog_pi1[product]=###PRODUCTUID###&amp;tx_windproductcatalog_pi1[form]=###FORMUID###&amp;tx_windproductcatalog_pi1[form_cancel]=1" />

<input type="hidden" name="SHASign" value="###SHASIGN###" />
<input type="hidden" name="COM" value="###PRODUCTNAME###" />
<input type="hidden" name="COMPLUS" value="" />
<input type="hidden" name="PARAMPLUS" value="" />
<input type="hidden" name="USERID" value="" />
<input type="submit" value="Betalen!" />
</form>
<!-- ###PAYMENT_FORM### end -->

<!-- ###PRODUCT_RATES### begin -->
<div class="tx_windproductcatalog_product_rates">
	<!-- ###PRODUCT_RATES_SINGLE### begin -->
	<div class="rate_single">
		<label>###NAME###</label>
		<span class="value">###RATE###</span>
	</div>
	<!-- ###PRODUCT_RATES_SINGLE### end -->
</div>
<!-- ###PRODUCT_RATES### end -->

<!-- ###PRODUCT_FAQ### begin -->
<div class="tx_windproductcatalog_product_faq">
	<!-- ###PRODUCT_FAQ_SINGLE### begin -->
	<div class="faq_single">
		<div class="question">###QUESTION###</div>
		<div class="answer">###ANSWER###</div>
	</div>
	<!-- ###PRODUCT_FAQ_SINGLE### end -->
</div>
<!-- ###PRODUCT_FAQ### end -->

<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED### begin --><?xml version="1.0" encoding="UTF-8"?>
<overheidproduct:scproducten
	xmlns:dcterms="http://purl.org/dc/terms/"
	xmlns:overheid="http://standaarden.overheid.nl/owms/terms/"
	xmlns:overheidproduct="http://standaarden.overheid.nl/product/terms/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://standaarden.overheid.nl/product/terms/
	http://standaarden.overheid.nl/sc/4.0/xsd/sc.xsd">
	<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT### begin -->
	<overheidproduct:scproduct owms-version="4.0">
		<overheidproduct:meta>
			<overheidproduct:owmskern>
				<dcterms:identifier>###URL###</dcterms:identifier>
				<dcterms:title>###PRODUCT_NAAM###</dcterms:title>
				<dcterms:language>nl</dcterms:language>
				<dcterms:type scheme="overheid:Informatietype">productbeschrijving</dcterms:type>
				<dcterms:modified>###PRODUCT_DATE###</dcterms:modified>
				<dcterms:spatial scheme="overheid:Gemeente" resourceIdentifier="http://standaarden.overheid.nl/owms/terms/###GEMEENTE_NAAM###_(gemeente)">###GEMEENTE_NAAM###</dcterms:spatial>
				<overheid:authority scheme="overheid:Gemeente" resourceIdentifier="http://standaarden.overheid.nl/owms/terms/###GEMEENTE_NAAM###_(gemeente)">###GEMEENTE_NAAM###</overheid:authority>
			</overheidproduct:owmskern>
			<overheidproduct:owmsmantel>
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_DOELGROEP### begin -->
					<dcterms:audience scheme="overheid:Doelgroep">###DOELGROEP###</dcterms:audience>
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_DOELGROEP### end -->
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_ONDERWERP2### begin -->
					<dcterms:subject>###ONDERWERP2###</dcterms:subject>
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_ONDERWERP2### begin -->
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_ONDERWERP3### begin -->
					<dcterms:subject>###ONDERWERP3###</dcterms:subject>
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_ONDERWERP3### begin -->
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_DESCRIPTION### begin -->
					<dcterms:abstract>
						###DESCRIPTION###
					</dcterms:abstract>
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_DESCRIPTION### end -->
			</overheidproduct:owmsmantel>

			<overheidproduct:scmeta>
				<overheidproduct:productID>###PRODUCT_ID###</overheidproduct:productID>
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_ONLINE### begin -->
					<overheidproduct:onlineAanvragen>###ONLINE###</overheidproduct:onlineAanvragen>
				<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_ONLINE### end -->
			</overheidproduct:scmeta>
		</overheidproduct:meta>
		<overheidproduct:body>
			<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_INHOUD### begin -->
				<overheidproduct:productHTML xmlns="http://www.w3.org/1999/xhtml" xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">
					###INHOUD###
				</overheidproduct:productHTML>
			<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT_INHOUD### end -->
		</overheidproduct:body>
	</overheidproduct:scproduct>
	<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED_PRODUCT### end -->
</overheidproduct:scproducten>
<!-- ###SAMENWERKENDE_CATALOGI_INDEXFEED### end -->

</body>
</html>
