<table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #222222; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0;">
	<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
		<td class="center" align="center" valign="top" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0;">
			<table width="780" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td class="readable">Indien deze nieuwsbrief niet leesbaar is, <a href="#" style="color: #000000;">klik dan hier</a></td>
				</tr>
			</table>
			<table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 780px; margin: 0 auto; padding: 0; border: 1px solid #cccccc;">
				<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
					<td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Century Gothic', 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0;" align="left" valign="top">
						<f:render section="content" />
						<table class="row footer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; background: #008ABD; padding: 0px;" bgcolor="#008ABD">
							<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
								<td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #FFFFFF; font-family: arial; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">
									<table class="twelve columns content" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 780px; margin: 0 auto; padding: 0;">
										<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
											<td class="wrapper" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #FFFFFF; font-family: arial; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
												<table class="four columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 240px; margin: 0 auto; padding: 0;">
													<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
														<td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #FFFFFF; font-family: arial; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
															<div style="margin: 0 0 0 10px;"><f:cObject typoscriptObjectPath="lib.newsletter_settings" /><br /></div>
															<div style="margin: 0 0 0 10px;"><f:cObject typoscriptObjectPath="lib.newsletter_unsubscribe" /></div>
														</td>
													</tr>
												</table>
											</td>
											<td class="wrapper" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #FFFFFF; font-family: arial; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
												<table class="eight columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 500px; margin: 0 auto; padding: 0;">
													<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
														<td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #FFFFFF; font-family: arial; font-weight: normal; line-height: 20px; font-size: 13px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
												&gt; Telefoon 0118 43 27 00 <br />
												&gt; E-mail: <a href="mailto:info@orioniswalcheren.nl" style="color: #FFFFFF; text-decoration: underline; font-family: arial; margin: 0 0 0 5px;">info@orioniswalcheren.nl</a>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
