<footer id="footer">
    <div class="container">
        <div class="inner_footer">
          <div class="f_sponsor">
                <f:cObject typoscriptObjectPath="lib.sponsor" />
          </div>
          <div class="f_links">
            <div class="leftbar_flink">
                <div class="inner_flink">
                    <div class="subscr">
                        <f:comment><input type="text" value="" placeholder="Join The Mailinglist" ><button type="submit"></button></f:comment>
                        <form action="https://raveonsnow.us7.list-manage.com/subscribe/post?u=edbf1eadfbeaad0024f38a3a7&amp;id=4c103f50db" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll" class="group">
                                <input type="email"  value="" placeholder="Join The Mailinglist" name="EMAIL" class="email" id="mce-EMAIL" required>
                                <span class="bar"></span>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_edbf1eadfbeaad0024f38a3a7_4c103f50db" tabindex="-1" value=""></div>
                                <button type="submit"></button>
                            </div>
                        </form>
                    </div>
                    <div class="f_slink">
                        <f:cObject typoscriptObjectPath="lib.social_menu" />
                    </div>
                </div>
            </div>
            <div class="rightbar_flink">
                <div class="inner_flink">
                    <ul>
                        <f:cObject typoscriptObjectPath="lib.footer_menu" />
                    </ul>
                </div>
            </div>
          </div>
          <div class="end_footer">
            <div class="end_fleft">
                <ul>
                    <f:cObject typoscriptObjectPath="lib.footerend_menu" />
                </ul>
            </div>
            <div class="end_flogo">
                <f:cObject typoscriptObjectPath="lib.logo_footer" />
            </div>
          </div>
        </div>
    </div>
</footer>
