<header id="main_header">
    <div class="inner_header">
        <div class="head_logo">
            <f:cObject typoscriptObjectPath="lib.logo" />
            <div class="logo_tag">
                <f:cObject typoscriptObjectPath="lib.logo_tag" />
            </div>
        </div>
        <div class="rightbar_head">
            <div class="toggle_menu"><a href="javascript:void(0)" title="Menu" class="trans"><span class="desktop">Menu</span><span class="mobile">Close</span></a></div>
            <div class="custom_nav">
                <f:cObject typoscriptObjectPath="lib.Menu" />
                <div class="getticket">
                    <f:cObject typoscriptObjectPath="lib.get_tickets" />
                </div>
            </div>
            <div class="righthead_logo">
                <f:cObject typoscriptObjectPath="lib.logo_right" />
            </div>
        </div>
    </div>
</header>