<f:render partial="header" />

    <!-- Start thurday Section Here -->
	<section id="thurday">
    <f:cObject typoscriptObjectPath="lib.content0" />
    </section>
	<!-- Start thurday Section Here -->

    <!-- Start thurday Section Here -->
	<section id="thurday" class="frieday">
	<f:cObject typoscriptObjectPath="lib.content1" />
	</section>
	<!-- Start thurday Section Here -->

	<!-- Start Footer Cards Section Here -->
	<f:cObject typoscriptObjectPath="lib.content2" />
	<!-- Start Footer Cards Section Here -->

<f:render partial="footer" />
