<f:render partial="header" />

    <!-- Start Banner Section Here -->
    <f:cObject typoscriptObjectPath="lib.content0" />
    <!-- End Banner Section Here -->

    <!-- Start pro slider section Here -->
    <f:cObject typoscriptObjectPath="lib.content1" />
	<!-- End pro slider section Here -->

	<!-- Start PRO FEATURE Section Here -->
	<f:cObject typoscriptObjectPath="lib.content2" />
	<!-- End PRO FEATURE Section Here -->

	<!-- Start PRO FEATURE TWO Section Here -->
	<f:cObject typoscriptObjectPath="lib.content3" />
	<!-- End PRO FEATURE TWO Section Here -->

	<!-- Start PRO FEATURE THIRD Section Here -->
	<f:cObject typoscriptObjectPath="lib.content4" />
	<!-- End PRO FEATURE THIRD Section Here -->

	<!-- Start Pro Feature Banner Section -->
		<f:cObject typoscriptObjectPath="lib.content5" />
	<!-- End Pro Feature Banner Section -->

	<!-- Start Pro Feature List Section -->
	<f:cObject typoscriptObjectPath="lib.content6" />
	<!-- End Pro Feature List Section -->

	<!-- Start Pro Booking Section -->
	<f:cObject typoscriptObjectPath="lib.content7" />
	<!-- Start Pro Booking Section -->
<f:render partial="footer" />
