<div id="header">
	<strong class="logo"><a href="#"><f:image src="EXT:website_vlissingen/Resources/Public/Images/logo.png" alt="Ga naar de homepage van de gemeente Vlissingen" /></a></strong>
	<div class="header-holder">
		<div class="header-area">
			<div class="topmenu">
				<f:cObject typoscriptObjectPath="lib.topmenu" />
				<div class="search">
					<f:cObject typoscriptObjectPath="lib.search" />
				</div>
			</div>
		</div>
		<div class="header-frame">
			<f:cObject typoscriptObjectPath="lib.mainmenu" />
			<f:cObject typoscriptObjectPath="lib.functionmenu" />
		</div>
	</div>
</div>