<table class="tx-windgooglemaps" >
	<tr>
		<td>
			<f:translate key="tx_windgooglemaps_domain_model_mapitem.name" />
		</td>
		<td>
			{mapitem.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_windgooglemaps_domain_model_mapitem.address" />
		</td>
		<td>
			{mapitem.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_windgooglemaps_domain_model_mapitem.zipcode" />
		</td>
		<td>
			{mapitem.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_windgooglemaps_domain_model_mapitem.moreinfo" />
		</td>
		<td>
			{mapitem.moreinfo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_windgooglemaps_domain_model_mapitem.latitude" />
		</td>
		<td>
			{mapitem.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_windgooglemaps_domain_model_mapitem.longitude" />
		</td>
		<td>
			{mapitem.longitude}
		</td>
	</tr>
</table>