<!-- ###POLL_HEADER### -->
<h2 class="title">Poll</h2>
<div class="question">###QUESTIONTEXT###</div>
<!-- ###POLL_HEADER### -->


<!-- ###POLL_VOTE### -->
<ul class="tx_jkpoll_pi1_answers">
<!-- ###ANSWER_VOTE### -->
<li onclick="select('###ANSWERTEXT_CHOICE_ID###');">
	<div class="tx_jkpoll_pi_ansers_image">
		###ANSWERTEXT_IMAGE###
	</div>
	<div class="tx_jkpoll_pi1_answer">
		###ANSWERTEXT_FORM###
		<label for="###ANSWERTEXT_CHOICE_ID###">###ANSWERTEXT_VALUE###</label>
	</div>
</li>
<!-- ###ANSWER_VOTE### -->
</ul>
<div>###SUBMIT###</div>

<!-- ###POLL_VOTE### -->

<!-- ###POLL_ANSWER_GOOGLE### -->
<div class="field">
<!-- ###ANSWER_RESULT### -->
	<div class="pair">
		<div class="answer-text">###ANSWERTEXT_RESULT###</div>
		<div class="answer-detail">###AMOUNT_VOTES### ###AMOUNT_VOTES_LABEL### (###PERCENTAGE_RESULT###)</div>
	</div>
<!-- ###ANSWER_RESULT### -->
</div>

<!-- ###POLL_ANSWER_GOOGLE### -->

<!-- ###POLL_ANSWER_HORIZONTAL### -->
<div class="tx_jkpoll_pi1_result_horizontal">
<!-- ###ANSWER_RESULT### -->
	<div class="result">
		<div class="horizontal">###ANSWERTEXT_RESULT###</div>		
		<div class="images"><div class="image">###IMG_PERCENTAGE_RESULT###</div> <div class="percent">###PERCENTAGE_RESULT###</div></div>
	</div>
<!-- ###ANSWER_RESULT### -->
###EXPLANATION###</div>
<div class="result-votes">Totaal <strong>###VOTES###</strong> stemmen</div>
<!-- ###POLL_ANSWER_HORIZONTAL### -->


<!-- ###POLL_LIST### -->
<div class="tx_jkpoll_pi1_poll_list">
<!-- ###POLL_LINK### -->
	<p>###LINK###</p>
<!-- ###POLL_RESULT### -->
	<div class="tx_jkpoll_pi1_result_list">###RESULT###</div>
<!-- ###POLL_RESULT### -->
<!-- ###POLL_LINK### -->
	<br />###LINKVIEW###
</div>

<!-- ###POLL_LIST### -->