#tx-solr-search {
	border: 1px solid #CFCFCF;
    float: right;
    padding: 0 20px 20px;
    width: 66%;
}

#tx-solr-search-functions {
	width: 25%;
	float: left;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* search form */

.tx-solr-search-form {
    background-color: #F2F2F2;
    border-bottom: 1px solid #CFCECF;
    margin: 0 -20px 20px;
    padding: 0;
}

.tx-solr-search-form form#tx-solr-search-form-pi-results {
	padding: 20px;
	margin: 0;
	height: 25px;
}

div.input {
	width: 350px;
	float: left;
}

.tx-solr-q {
	border: 1px solid #cfcecf;
	padding: 5px;
	width: 77%;
}

.tx-solr-submit {
	background: #801d69;
    width: 115px;
	overflow: hidden;
    padding: 6px;
	float: right;
    border: medium none;
    color: #fff;
    font-weight: bold;
	cursor: pointer;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* pagination */

#tx-solr-pagination {
	margin: 20px 0px;
}

#tx-solr-pagination-results-per-page {
	float: left;
}

#tx-solr-pagination-results-per-page select {
	margin-left: 5px;
}

#tx-solr-pagination .tx-pagebrowse-pi1 {
	float: right;
}

#tx-solr-search #tx-solr-pagination ul.tx-pagebrowse {
	margin-top: 0px;
	padding-top: 2px;
}
.tx-pagebrowse-current {
	font-weight: bold;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* search functions */

#tx-solr-search-functions div.secondaryContentSection {
	padding: 0;
	margin: 0px 10px 1.5em 0px;
	width: 100%;
	border: 1px solid #cfcfcf;
}

#tx-solr-search-functions .secondaryContentSection .csc-header {
	padding-left: 10px;
}

#tx-solr-search-functions .secondaryContentSection .csc-header h1,
#tx-solr-search-functions .secondaryContentSection .csc-header h2,
#tx-solr-search-functions .secondaryContentSection .csc-header h3 {
	width: 100%;
	font-size: 12px;
	margin: 5px 0;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* faceting */

#tx-solr-faceting .facets .csc-header {
	padding: 3px 0px 3px 10px;
}

#tx-solr-faceting .facets .facet-option-list {
	padding: 5px 0px 10px 0px;
}

#tx-solr-faceting .facets .facet-type-numericRange .facet-option-list {
	width: 85%;
}

#tx-solr-faceting .facets .facet-label {
	background-color: #cfcecf;
	color: #fff;
	font-weight: bold;
        background-color: #fff;
	color: #666;
}

#tx-solr-faceting .facets .facet-result-count {
	color: #000000;
}

#tx-solr-facets-in-use li {
	list-style-type: none;
        background:none;
	margin-left: 10px;
}

#tx-solr-facets-in-use .facets-remove-all {
	margin-top: 10px;
}

#tx-solr-faceting .facets li {
	list-style-type: none;
        background:none;
	margin-left: 0px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* sorting */

#tx-solr-sorting li {
	list-style-type: none;
	margin-left: 10px;
        background:none;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* results */

#tx-solr-search .tx-solr-search-word {
	font-weight: bold;
}

#tx-solr-search .tx-pagebrowse {
	margin-top: 10px;
}

#tx-solr-search .results-list {
	margin-top: 10px;
}

#tx-solr-search .results-list li {
	list-style: none;
	margin-left: 0px;
}

.results-entry {
	background: url('../Images/divider03.png') repeat-x bottom;
	padding-bottom: 15px;
}

.results-topic {
	font-weight: bold;
	margin-bottom: 5px;
}

#content .results-entry p{
	margin-bottom: 0;
}

h5 {
	margin:0;
	padding:0;
}

h2.results-topic{
	font-size: 1em;
}

.result-content{
	margin-bottom: 5px;
	margin-top: 3px;
}

.results-topic a{
	font-size: 11px;
    font-weight: bold;
	text-decoration: underline;
}

.publication-date {
	margin-bottom: 5px;
}

.publication-date span{
	font-style: italic;
	color: #999;
}

.result-content {
	clear: both;
}

.results-highlight {
	background: #fdee53;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* relevance */

.relevance {
	height: 20px;
}

.relevance-label,
.relevance-bar,
.relevance-percent {
	float: left;
	margin-right: 3px;
}

.relevance-bar {
	height: 20px;
	padding-top: 3px;
}

.tx-solr-relevance-bar {
	width: 100px;
	height: 8px;
	border: 1px solid #ccc;
	font-size: 1px;
	padding: 1px;
}

.tx-solr-relevance,
.tx-solr-relevance-fill {
	margin-right: 0px !important;
	height: 8px;
	padding: 0px;
	float: left;
}

.tx-solr-relevance {
	background-color: #90B001;
}

.tx-solr-relevance-fill {
	background-color: #ccc;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* last searches */

#tx-solr-lastsearches li,
#tx-solr-lastsearches div.last-searched {
    list-style-type: none;
    margin-left: 10px;
    background: none;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* frequent searches */

#tx-solr-frequent-searches ul {
	padding-right: 10px;
}

#tx-solr-frequent-searches li {
	list-style-type: none;
	margin-left: 10px;
	display: inline;
        background: none;
}

.tx-solr-frequent-term-14 {
	font-size: 14px;
}
.tx-solr-frequent-term-15 {
	font-size: 15px;
}
.tx-solr-frequent-term-16 {
	font-size: 16px;
}
.tx-solr-frequent-term-16 {
	font-size: 16px;
}
.tx-solr-frequent-term-17 {
	font-size: 17px;
}
.tx-solr-frequent-term-18 {
	font-size: 18px;
}
.tx-solr-frequent-term-19 {
	font-size: 19px;
}
.tx-solr-frequent-term-20 {
	font-size: 20px;
}
.tx-solr-frequent-term-21 {
	font-size: 21px;
}
.tx-solr-frequent-term-22 {
	font-size: 22px;
}
.tx-solr-frequent-term-23 {
	font-size: 23px;
}
.tx-solr-frequent-term-24 {
	font-size: 24px;
}
.tx-solr-frequent-term-25 {
	font-size: 25px;
}
.tx-solr-frequent-term-26 {
	font-size: 26px;
}
.tx-solr-frequent-term-27 {
	font-size: 27px;
}
.tx-solr-frequent-term-28 {
	font-size: 28px;
}
.tx-solr-frequent-term-29 {
	font-size: 29px;
}
.tx-solr-frequent-term-30 {
	font-size: 30px;
}
.tx-solr-frequent-term-31 {
	font-size: 31px;
}
.tx-solr-frequent-term-32 {
	font-size: 32px;
}
.tx-solr-frequent-term-33 {
	font-size: 33px;
}
.tx-solr-frequent-term-34 {
	font-size: 34px;
}


/** Custom styling **/
.facet-label.csc-header {
    font-size: 12px;
}

#tx-solr-search-functions .secondaryContentSection ul{
    list-style: none;
    padding-left: 0px;
    background: none;
    margin: 0;
}
#tx-solr-sorting ul, #tx-solr-facets-in-use ul{
    padding: 0;
}

.facet-label.csc-header {
    margin: 0;
}

#tx-solr-search .results-list{
    padding: 0;
    margin: 0;
}
#tx-solr-search .tx-pagebrowse {
    margin-top: 10px;
    padding-left: 0;
}

#tx-solr-pagination {
    float:left;
    clear: both;
    width: 100%;
    margin: 10px 0;
}
#tx-solr-pagination-results-per-page {
    float: left;
    width: 100%;
}
#tx-solr-pagination .tx-pagebrowse-pi1 {
    width: 100%;
    float: right;
    margin-top: 5px;
}

#tx-solr-search .tx-pagebrowse li {
    background: none !important;
}

.facet-option {
    padding-left: 10px;
}

.dateselector.hasDatepicker{
    width: 120px;
}

/** CUSTOM DATEPICKER STYLING **/
.ui-state-default {
    background: #90B001 !important;
    border-color: #90B001 !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: white !important;
    color: #363636 !important;
}
.ui-state-default.ui-state-active{
    border: 1px solid #fff;
    background: #fff !important;
    color: #90B001;
}

#tx-solr-faceting .facets li label {
	display: block;
	margin-top: 3px;
}

#tx-solr-faceting .facets li input[type="text"] {
	width: 150px;
	margin-bottom: 5px;
}

@media all and (max-width: 640px) {
	#tx-solr-search {
		float: none;
		border: none;
		padding: 0;
		width: 100%;
	}

	.tx-solr-search-form {
		margin: 0 -10px 10px;
	}

	.tx-solr-search-form form#tx-solr-search-form-pi-results div.input {
		width: 100%;
	}

	#tx-solr-search-functions {
		float: none;
		width: 100%;
	}

	#tx-solr-search-functions div.secondaryContentSection {
		border: none;
	}

	.tx-solr-search-form form#tx-solr-search-form-pi-results {
		border-top: 1px solid #CFCFCF;
		height: 80px;
		margin: 0;
		padding: 10px;
	}

	.tx-solr-q {
		width: 95%;
	}

	.tx-solr-submit {
		float: none;
		margin: 5px 0 0;
	}
}