/*******************************************************************************
Opmaak index < IE7
*******************************************************************************/
html,
body {
	text-align: center;
}

div#content-outer {
	overflow: visible;
	text-align: left;
	height: 1px;
}

div#middle {
	overflow: visible;
	height: 1px;
}

/*******************************************************************************
Header
*******************************************************************************/
div#language {
	overflow: visible;
	height: 1px;
}

/*******************************************************************************
Project
*******************************************************************************/
div#project {
	text-align: left;
}

/*******************************************************************************
Options
*******************************************************************************/
div#options {
	text-align: left;
}

div#search-domain form {
	height: 1px;
	overflow: visible;
}

div#search-newsletter form {
	height: 1px;
	overflow: visible;
}