<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<f:flashMessages />
		<div class="banner-slider">
		 	<f:for each="{projects.projectimages}" as="image">
		 		<div class="item">
		            <div class="img">
	            		<f:image image="{image}" width="767c" height="571c"/>
		            </div>
		            <div class="slider-text"><f:translate key="recentproject" /></div>
		        </div>
			</f:for>
		</div>
	</f:section>
</html>