<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>new News example template</title>
</head>

<body>

<!-- ###TEMPLATE_LIST### begin -->
<div class="news-list-container news-list-collection">
	<!-- ###CONTENT### begin -->
		<!-- ###NEWS### begin -->
			<div class="news-list-item">
				<div class="news-list-content">
					###NEWS_DATE###: <!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###-->
				</div>
			</div>
		<!-- ###NEWS### end-->
	<!-- ###CONTENT###  end -->
	###BROWSE_LINKS###
</div>
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_SINGLE### begin -->
<div class="news-single-item">
	<h1>###NEWS_TITLE###</h1>

	<div class="news-single-date">
		Gepubliceerd op <span>###NEWS_DATE###</span>
	</div>
		###NEWS_IMAGE###
	<div class="news-single-subheader">
		###NEWS_SUBHEADER###
	</div>
	<div class="news-single-text">
		###NEWS_CONTENT###
	</div>
	<div class="downloads">
		###TEXT_FILES###
		###FILE_LINK###
	</div>
</div>
<div class="news-single-backlink dotted-line">
<!--###LINK_ITEM###-->###BACK_TO_LIST###<!--###LINK_ITEM###-->
</div>
<!-- ###TEMPLATE_SINGLE### end -->

</body>
</html>
