<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>new News example template</title>
</head>

<body>

<!-- ###TEMPLATE_LIST### begin -->
<!-- ###CONTENT### begin -->
<!-- ###NEWS### begin -->
<tr>
	<td valign="top" style="padding:16px 19px 0;" colspan="2">
		<table width="100%" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td valign="top" style="padding:0 0 3px; font: 17px Helvetica, Arial, sans-serif; line-height:20px; color:#0097A1;">
						<b>###NEWS_TITLE###</b>
					</td>
				</tr>
				<tr>
					<td valign="top" style="padding:0 0 16px;font:13px Helvetica, Arial, sans-serif; line-height:15px; color:#868485;">
						<span>###NEWS_DATE###</span>
					</td>
				</tr>
				<tr>
					<td valign="top" style="padding:0 0 18px;font:13px Helvetica, Arial, sans-serif; line-height:18px; color:#333333;"><p class="bodytext" style="margin: 0; padding: 0;">###NEWS_SUBHEADER###</p></td>
					<td valign="top">
						<img width="20" alt="spacer" src="fileadmin/sites/vlissingen/templates/nieuwsbrieven/images/spacer.gif" />
					</td>
					<td valign="top" style="padding:0 0 18px;font:13px Helvetica, Arial, sans-serif; line-height:18px; color:#333333;">
						###NEWS_IMAGE###
					</td>
				</tr>
				<tr>
					<td valign="top" style="font:13px Helvetica, Arial, sans-serif; line-height:18px; color:#333333; padding:0 0 18px;"><!--###LINK_ITEM###-->Lees verder<!--###LINK_ITEM###--></td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<tr>
	<td valign="top" style="padding:0 19px;" colspan="2">
		<table width="100%" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td valign="top">
						<img width="735" alt="scheidingsteken" src="fileadmin/sites/vlissingen/templates/nieuwsbrieven/images/seperator.png" />
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<!-- ###NEWS### end-->
<!-- ###CONTENT###  end -->
<!-- ###TEMPLATE_LIST### end -->

</body>
</html>
