<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>new News example template</title>
</head>

<body>
<!-- ###TEMPLATE_LATEST### begin
	This is the template for the latest news, typically displayed on a frontpage
-->
<div class="news-latest-container">
	<h2 class="themes">Mededelingen</h2>
	<ul>
	<!-- ###CONTENT### begin
		This is the part of the template substituted with the list of news:
	-->
		<!-- ###NEWS### begin
			Template for a single item
		-->
			<li class="news-latest-item">
				<!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###-->
			</li>
		<!-- ###NEWS### end-->
	<!-- ###CONTENT###  end -->
	</ul>
</div>
<!-- ###TEMPLATE_LATEST### end -->



<!-- ###TEMPLATE_LIST### begin -->
<div class="news-list-container">
	<!-- ###CONTENT### begin -->
		<!-- ###NEWS### begin -->
			<div class="news-list-item">
				###NEWS_IMAGE###
				<div class="news-list-content">
					<h2><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h2>
					<div class="news-list-date">###NEWS_DATE###</div>
					<div class="news-list-text">###NEWS_SUBHEADER###</div>
				</div>
			</div>
		<!-- ###NEWS### end-->
	<!-- ###CONTENT###  end -->
	###BROWSE_LINKS###
</div>
<!-- ###TEMPLATE_LIST### end -->


<!-- ###TEMPLATE_SINGLE### begin -->
<div class="news-single-item">
	<h1>###NEWS_TITLE###</h1>

	<div class="news-single-date">
		Gepubliceerd op <span>###NEWS_DATE###</span>
	</div>
		###NEWS_IMAGE###
	<div class="news-single-subheader">
		###NEWS_SUBHEADER###
	</div>
	<div class="news-single-text">
		###NEWS_CONTENT###
	</div>
	<div class="news-single-backlink">
	<!--###LINK_ITEM###-->###BACK_TO_LIST###<!--###LINK_ITEM###-->
	</div>
</div>
<!-- ###TEMPLATE_SINGLE### end -->

</body>
</html>
