<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl-NL" lang="nl-NL">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>wind_suggest</title>
</head>
<body>

<!-- ###TITLE### begin -->
<!-- ###TITLE### end -->

<!-- ###LIST### begin -->
<ul>
	<!-- ###LIST_LINKS### begin -->
	<li>
		<h2>Zoeksuggestie</h2>
		<div class="name">###NAME###</div>
		<div class="description">###DESCRIPTION###</div>
		<div class="url"><a href="###URL###">###URL###</a></div>
	</li>
	<!-- ###LIST_LINKS### end -->
</ul>
<!-- ###LIST### end -->

</body>
</html>
